body{
  margin: 0px;

}


@font-face {
  font-family: luiss;
  src:url("/Users/johnjswanson/Desktop/Portfolio HTML/luiss/Luiss Serif Regular.otf");
  font-weight: normal;
}

.container{
  font-family: luiss;
  float:left;
  position:sticky;
  position: -webkit-sticky;
  top:0;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: left;
  width:200px;
  height:100vw
}

.image1{
  position: absolute;
  right: 0;
  bottom:0
}



.headline{
  display: flex;
  color: black;
  font-size: 1.3em;
  margin-left: 30px;
  margin-top:30px;

}

.subhead{
  display: flex;
  flex-direction: column;
}

.sidebar > .subhead > div{
  font-size: 1em;
  margin-top: 20px;
  margin-left: 30px;

}

.button a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
}

.button a:hover{
  color: white;
}

.button a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
}

.button a:hover{
  color: white;
}

.button2 a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
}

.button2 a:hover{
  color: white;
}

.links{
  display: flex;
  flex-direction: column;
  font-family: luiss;
}

.links > div{
  font-size: 1em;
  align-items: center;
  margin-top: 120px;
  margin-left: 40%

}

.brand a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
}

.brand a:hover{
  color: white;
}

.button2 > .center-bottom > div{
  font-size: 1em;
  margin: 10px;

}

.button2{
  display: flex;
  flex-direction: column;
}

.brand2 a {
  color: black;
  text-decoration: none;
  transition: color 0.4s;
}

.brand2 a:hover{
  color: white;
}

.about{
  color: white;
  display: flex;
  mix-blend-mode: difference;
  font-family: luiss;
  align-items: center;
  text-align: justify;
  max-width: 15em;
  padding-right: 23%;
  padding-top: 70px;
  line-height: 18px;
  padding-bottom:70px;
  overflow-x: auto;
}

.body{
  color: white;
  display: flex;
  flex-direction: column;
  font-family: luiss;
  align-items: center;
  text-align: justify;
  padding-top: 70px;
  padding-bottom: 70px;
  line-height: 18px;
}

.list{
  color: white;
  display: flex;
  font-family: luiss;
  flex-direction: column;
  max-width: 16em;
  padding-left: 8px;
  line-height: 18px;
}

.years{
  display: flex;
  flex-direction: column;
  font-family: luiss;
  align-items: left;
  padding-top: 70px;
  line-height: 18px;
}


.images{
  padding-top: 10px;
  max-width: 60vw;
  height:auto;

}
